* {
    border: 5px red solid;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 500px;
    align-items: center;
    font-size: 24px;
}

.header .links {
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
}

.stack-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quote {
    display: flex;
    width: 99.7%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.sign-up {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    width: 900px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}